.in-play-page{
 display: grid;
 grid-template-rows: repeat(6, min-content);
 overflow-y: auto; 


    /* *************** scroll bar properties **********/

     &::-webkit-scrollbar {
       width: 1.3rem;
       border-left: 0.6rem solid var(--color-quaternary-m-light);
     }

     &::-webkit-scrollbar-thumb {
       cursor: pointer;
       border-radius: 1rem;
       background-color:var(--color-tertiary);
       border-left: 0.3rem solid transparent;
       border-right: 0.3rem solid transparent;
       border-top: 0.19rem solid transparent;
       border-bottom: 0.19rem solid transparent;
       background-clip: content-box;
     }
     &::-webkit-scrollbar-track {
       background-color:var(--color-fifthynary-m-light);
       border-left: 0.06rem solid var(--color-quaternary-m-light);
     }


.horizontal-list{
   overflow: hidden;
     display: flex;
     grid-row: 1 / 2;
background-color: var(--color-primary-m-dark);
      & ul {
     display: flex;
     padding-left: 2.5rem;
     & li  {
  padding-right: 4.1rem;
    }
  & img{
    width: 3.8rem;
    height: 3.8rem;
    padding-bottom: 0.5rem;
  }
  &:first-child {
  position: relative;
   top: 1rem;
   left: 0;
   display: flex;
   flex-direction: row;

   & a {

    display: flex;
    flex-direction: column;
    text-decoration: none;

  }
  }

  &:nth-child(2) {
    position: absolute;
    top: 11rem;
    left: 0;
    z-index: 5;

    & a {

      display: flex;
      flex-direction: column;
    color: var(--color-primary-m-light);
    }
  }
 
 
}


}
}

   