
.in-play-page{
& .result-board {
    grid-row: 4 / 5;

  & ul li.fixture{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-fifthynary-m-light);
   color: var(--color-quaternary-m-dark);
   height: height(height-size-larger);
   padding-top: 0.25rem;

   & div:first-child{
      display: flex;
      align-items: baseline;
       padding-left: 2rem;
        & i {
       padding-right: 2rem;
        }
       }
       & div:last-child{
        display: flex;
        align-items: baseline;
        padding-right: 2rem;
        
        & img{
          width: 2.7vh;
          height: 2.7vh;
          display: none;
          transform: translateX(-28rem);      
          }
          & img.is-clicked{
            display: block;
          }
       & p {
          padding-right: 15.8vw;
           }
         }
  }
  & ul li.fixture-details{

    display: flex;
    align-items: baseline;
    height:8rem;
    padding-top: 0.4rem;
    background-color: var(--color-fifthynary-m----light);
   justify-content: space-between;
   color: var(--color-quaternary-m-dark);
   padding-left: 2rem;
   padding-right: 2rem;
   font-size: font-size(font-size--large);

   & a{
    display: flex;
    color: var(--color-quaternary-m-dark);

   /* & a {
   
      color: var(--color-quaternary-m-dark);
      display: flex;
      flex-direction: column;
    }
   /* & .match-names{
      display: flex;
      flex-direction: column;
     } */
  }
& div.timing{
  display: flex;
  flex-direction: column;
  & a:nth-child(2){
   display: flex;
   align-items: baseline;
   & div:hover{
 color: var(--color-fifthynary);
   }
   & div{
padding-right: 0.5vw;      }
  }
}
& div.scores{
  display: flex;
  & a{
    display: flex;
    align-items: center;
    padding-left: 2vw;
   
  }
  & div:first-child {
    display: none;
  }
  & div[class^="is-clicked"] {
    display: block;
  }
}
  & div:nth-child(4) {
  /* display: flex;*/
  color: var(--color-fifthynary-m----light);
  & div{
    padding-right: 1vw;
    
  }
  & i {
    line-height: center;
  }
  } 
  & img {
    width: 2rem;
    height: 2rem;
    filter: grayscale(100%);
    z-index: 1;
    &:hover , &:active {
      filter: grayscale(0);

    }
  }

  & a i:nth-child(1) {
    font-size: font-size(font-size-xxxlarge);
    color: var(--color-quaternary-m-dark);

    &:hover, &:active{
      color: var(--color-tertiary-m-dark);
    }
  }

  & div.cotes-matches {
  display: flex;
  height: 95%;
  border-left: 0.2rem solid #585858;
  border-right: 0.2rem solid #585858;

  & a {
    padding-right: 7vw;
    padding-left: 7vw;
    color: var(--color-secondary-m-light);
    width: 80%;
    display: flex;
    align-items: center;
    &:hover{
      background-color: var(--color-tertiary);
    }
  }
   } 
 }
}

          /***************************** 650px *************************************/ 

      @include media-medium {

    & .result-board ul li.fixture-details a i:nth-child(1) {
     font-size: 1.25rem;
    color: var(--color-quaternary-m-dark);
   }
   & .result-board ul li.fixture-details div.cotes-matches a {
     padding-right: 2.1vw;
    padding-left: 2.1vw;
   
} 
  & .result-board ul li.fixture div:last-child p {
  padding-right: 11.5vw;
}

& .result-board ul li.fixture div:first-child {
  padding-left: 1vw;
}
& .result-board ul li.fixture div:first-child i {
   padding-right: 1vw;
}
& .fixture h3{
  font-size: font-size(font-size-regular);
}
& label.button{
 font-size: font-size(font-size-large);
}
& .result-board ul li.fixture-details {
   padding-left: 1vw;
}
& .result-board ul li.fixture-details img  {
  width: 1.5rem;
  height: 1.5rem;
}
& .result-board ul li.fixture-details { 
  padding-right: 1rem;

 }
}
      /***************************** 450px *************************************/ 

      @include media-small  {
        & .result-board ul li.fixture-details a{
           font-size: font-size(font-size-medium);
          }
          & .result-board ul li.fixture-details a i:nth-child(1) {
            font-size: 0.80rem;
          }
          & .result-board ul li.fixture-details img  {
            width: 1rem;
            height: 1rem;
          }
          & .result-board ul li.fixture-details { 
            padding-right: 0.5rem;
          
           }
        }
}
