
.in-play-page{
& .result-board {
    grid-row: 4 / 5;

  & ul li{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-fifthynary-m-light);
   color: var(--color-quaternary-m-dark);
   height: height(height-size-medium-vol2);
   padding-top: 2rem;

   & div:first-child{
      display: flex;
      align-items: baseline;
       padding-left: 2rem;
        & i {
       padding-right: 2rem;
        }
       }
       & div:last-child{
        display: flex;
        align-items: baseline;
        padding-right: 2rem;
        & p {
          padding-right: 15vw;
           }
         }
  }

}
}
