.in-play-live {
    display: grid;
    grid-template-columns: [column-1] 26rem [column-2] 1fr [column-3] 43rem [column-4]  ;
   

 
    &-list{
        background-color: var(--color-secondary-m-dark);
     grid-column: column-1 / column-2;
     background-color: var(--color-secondary-m-dark);
     overflow-y: auto;
   
   /* *************** scroll bar properties **********/
   &::-webkit-scrollbar {
     width: 1.3rem;
     border-left: 0.6rem solid var(--color-primary-m-dark);
   }
   &::-webkit-scrollbar-thumb {
     cursor: pointer;
     border-radius: 1rem;
     background-color:var(--color-quaternary-m--dark);
     border-left: 0.3rem solid transparent;
     border-right: 0.3rem solid transparent;
     border-top: 0.19rem solid transparent;
     border-bottom: 0.19rem solid transparent;
     background-clip: content-box;
   }
   &::-webkit-scrollbar-track {
     background-color:var(--color-secondary-m-dark);
     border-left: 0.06rem solid var(--color-primary-m-dark);
   }
 
       & div img 
       {
       width: 1.25rem;
       height: 1.25rem;
       margin-left: 1rem;
       margin-right: 1rem;
       }
       & div 
       {
        padding-top: 1.4rem;
      /*  padding-left: 0.5rem;*/
        padding-bottom: 1rem;
       display: flex;
       align-items: baseline;
       color: var(--color-tertiary-m-light);
       letter-spacing: 0.05rem;
       font-size: font-size(font-size-smallest);
       border-bottom: 0.1rem solid #494949;
       &:hover , &:active {
         background-color: var( --color-fifthynary-m--light);
       }
       &:nth-child(2){
        display: none;
        padding-left: 1rem;

      }
    &:nth-child(2).is-clicked{
       display: block;
       border-top: 0.2rem solid #757575;
     }

       }
       & section.tennis-list {
        border-top: 0.2rem solid #4D6B2E;
        display: none;

      }
      & section.badminton-list {
        border-top: 0.2rem solid #2484d3;
        display: none;

      }
       & section.match-list {
        border-top: 0.2rem solid #126e51;
        display: none;
      }
      & section.basketball-list {
        border-top: 0.2rem solid #c47e23;
        display: none;
      }
       & section.match-list.is-clicked ,
        & section.tennis-list.is-clicked 
        , & section.badminton-list.is-clicked{
        display: block;
        transition: transform 5s;

       }
       & section.match-list section.item-1 ,
        & section.tennis-list section.item-1 ,
         & section.badminton-list section.item-1 {
        margin-left: -0.01rem;
        width: 100%;
           & .first-part {
            padding-left: 1rem;
              & h4 {
                padding-right: 5vw;
                
              }
              & i {
                padding-left: 0.5rem;
              }
           }
           & .first-part:hover i{
            display: block;
          }
          & .first-part i{
            display: none;
            font-size: font-size(font-size-smallest);
            color: var(--color-tertiary);
          }
         
           }
           & section.match-list .second-part.is-clicked
            , & section.tennis-list .second-part.is-clicked  ,
             & section.badminton-list .second-part.is-clicked {
            display: block;
            display: flex;

           }
           & section.match-list .second-part
            , & section.tennis-list .second-part , 
             & section.badminton-list .second-part{
            display: flex;
            color: var(--color-primary-m-light);
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 0.1rem solid #494949;
            display: none;

           
             & i:nth-of-type(2){
                opacity: -1;
             }
             &:hover i:nth-of-type(2){
              opacity: 5;
           }
           & .goals {
            color: var(--color-secondary-m-light);
           }
           &:hover , &:active {
            background-color: var( --color-fifthynary-m--light);
          }
           }
       }

  
    &-matches{
      grid-column: column-2 / column-3;
      overflow-y: auto;
      display: grid;
      grid-template-rows: [row-1] 14rem [row-2] 1fr [row-3] 1fr [row-4] 1fr [row-5] 1fr [row-6]  ;

    
    /* *************** scroll bar properties **********/
    &::-webkit-scrollbar {
      width: 1.3rem;
      border-left: 0.6rem solid var(--color-primary-m-dark);
    }
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 1rem;
      background-color:var(--color-quaternary-m--dark);
      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top: 0.19rem solid transparent;
      border-bottom: 0.19rem solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-track {
      background-color:var(--color-secondary-m-dark);
      border-left: 0.06rem solid var(--color-primary-m-dark);
    }
  
      &-header{
        grid-row: row-1 / row-2;
        background-color: var(--color-primary);
        border-bottom: 0.2rem solid var(--color-secondary);
        padding: 1.2rem;
        padding-left: 2rem;
        color: var(--color-tertiary-m-light);
        & a {
          color: var(--color-tertiary-m-light);
          font-size: font-size(font-size--large);
          &:hover{
            color: var(--color-fifthynary);

          }
          & i {
            font-size: font-size(font-size--large);

          }
        }
        & div.title h2 {
          font-size: font-size(font-size-xxxxlarge);
          margin-left: 0.5rem;
          margin-top: 0.75rem;
          color: var(--color-tertiary-m--dark);
        }
        & div.title {
         display: flex;  
         align-items: baseline;
         justify-content: space-between;
         & div{
          background-color: #126e51;
         }
        }
        & div.menu {
          display: flex;
          font-size: font-size(font-size-xlarge);
          align-items: baseline;
          padding-top: 2.25rem;
          & p {
            padding-right: 2vw;
            position: relative;
            margin-left: 0.5rem;

            &:hover,&:active{
              color: var(--color-fifthynary);
              cursor: pointer;
          }
         & i {
          &:hover,&:active{
            color: var(--color-fifthynary);
            cursor: pointer;
          
          }        
          }

          &::before{
            content: "";
            position: absolute; 
            bottom: -35%;
            right: 35%;
            left: -8%;
            width: 80%;
            height: height(height-size-smal);
            background-color: var(--color-tertiary-m--dark);
            z-index: -1;
          }
           &.active:before{
            z-index: 5;
           }
        }
      }
    }
   

   }
   
  }