.in-play-live {
   display: grid;
    grid-template-columns: [column-1] 26rem [column-2] 1fr [column-3] 43rem [column-4]  ;
 
    &-list{
        background-color: var(--color-secondary-m-dark);
     grid-column: column-1 / column-2;
     background-color: var(--color-secondary-m-dark);
     height: 90vh;
     overflow-y: auto;
   
   /* *************** scroll bar properties **********/
   &::-webkit-scrollbar {
     width: 1.3rem;
     border-left: 0.6rem solid var(--color-primary-m-dark);
   }
   &::-webkit-scrollbar-thumb {
     cursor: pointer;
     border-radius: 1rem;
     background-color:var(--color-quaternary-m--dark);
     border-left: 0.3rem solid transparent;
     border-right: 0.3rem solid transparent;
     border-top: 0.19rem solid transparent;
     border-bottom: 0.19rem solid transparent;
     background-clip: content-box;
   }
   &::-webkit-scrollbar-track {
     background-color:var(--color-secondary-m-dark);
     border-left: 0.06rem solid var(--color-primary-m-dark);
   }
 
       & div img 
       {
       width: 1.25rem;
       height: 1.25rem;
       margin-left: 1rem;
       margin-right: 1rem;
       }
       & div 
       {
        padding-top: 1.4rem;
      /*  padding-left: 0.5rem;*/
        padding-bottom: 1rem;
       display: flex;
       align-items: baseline;
       color: var(--color-tertiary-m-light);
       letter-spacing: 0.05rem;
       font-size: font-size(font-size-smallest);
       border-bottom: 0.1rem solid #494949;
       &:hover , &:active {
         background-color: var(--color-fifthynary-m--light);
       }
       &:nth-child(2){
        display: none;
        padding-left: 1rem;

      }
    &:nth-child(2).is-clicked{
       display: block;
       border-top: 0.2rem solid #757575;
     }

       }
       & section.tennis-list {
        border-top: 0.2rem solid #4D6B2E;
        display: none;
      }
      & section.bandy-list {
        border-top: 0.2rem solid #2484d3;
        display: none;
      }
      & section.american-football-list {
        border-top: 0.2rem solid #2484d3;
        display: none;
      }
       & section.match-list {
        border-top: 0.2rem solid #126e51;
        display: none;
      }
      & section.basketball-list {
        border-top: 0.2rem solid #c47e23;
        display: none;
      }
      & section.volleyball-list {
        border-top: 0.2rem solid #ffdf1b;
        display: none;
      }
   
      & section.cricket-list {
        border-top: 0.2rem solid #4D6B2E;
        display: none;
      }
      & section.darts-list {
        border-top: 0.2rem solid  #cf420a;
        display: none;
      }
      & section.esports-list {
        border-top: 0.2rem solid  #b243fc;
        display: none;
      }
      & section.greyhounds-list {
        border-top: 0.2rem solid  #c0a24f;
        display: none;
      }
      & section.hockey-list {
        border-top: 0.2rem solid  #9c9c9c;
        display: none;
      }
      & section.alpine-list {
        border-top: 0.2rem solid  #4577c2;
        display: none;
      }
   
   
       & section.match-list.is-clicked ,
        & section.tennis-list.is-clicked 
        , & section.american-football-list.is-clicked 
        , & section.basketball-list.is-clicked 
        , & section.volleyball-list.is-clicked 
         , & section.cricket-list.is-clicked
          , & section.darts-list.is-clicked,
           & section.esports-list.is-clicked, 
           & section.greyhounds-list.is-clicked,
            & section.hockey-list.is-clicked , 
            & section.bandy-list.is-clicked,
            & section.alpine-list.is-clicked{
        display: block;
        transition: transform 5s;
        & h1{
        display: none;
        }

       }

       & section.match-list section.item-1 ,
       & section.bandy-list section.item-1 ,
        & section.tennis-list section.item-1 ,
         & section.american-football-list section.item-1 
         ,  & section.basketball-list section.item-1 
         ,  & section.volleyball-list section.item-1  
         ,  & section.cricket-list section.item-1 
          ,  & section.darts-list section.item-1 ,
            & section.esports-list section.item-1,
            & section.greyhounds-list section.item-1, 
             & section.hockey-list section.item-1 ,
             & section.alpine-list section.item-1{
        margin-left: -0.01rem;
        width: 100%;

           & .first-part{
            padding-left: 1rem;
            display: flex;
            justify-content: space-between;
            & .first-part.names{
              display: flex;
              flex-direction: column;
            }
           //   & h4 {
            //  padding-right: 7vw;
            //  }
              & i {
                padding-left: 0.5rem;
              
           }       } 

           & .first-part:hover i{
            //display: block;
            opacity: 5;
          }
          & .first-part i{
            opacity: 0;
            //display: none;
            font-size: font-size(font-size-smallest);
            color: var(--color-tertiary);
          }
         
           }
           & section.alpine-list section.item-1{
            & .first-part section span{
              display: none;
            }
           }

           & section.match-list .second-part
         /*  , & section.tennis-list .second-part,
            & section.american-football-list .second-part 
            , & section.basketball-list .second-part
            , & section.volleyball-list .second-part
             , & section.cricket-list .second-part 
             , & section.darts-list .second-part  ,
              & section.esports-list .second-part,
              & section.greyhounds-list .second-part,
               & section.hockey-list .second-part,
               & section.bandy-list .second-part */{
                position: relative;
                & input {
                  position: absolute;
                  opacity: 3;
                  z-index: 3;
                  width: 30vw;
                   height: 5.5rem;
                 }

                & input [type^=checkbox]:checked + section.match-list .second-part
                 {       
                   background-color: #126e51;
                 }
          }
           & section.match-list .second-part.is-clicked
            , & section.tennis-list .second-part.is-clicked  ,
             & section.american-football-list .second-part.is-clicked 
             , & section.basketball-list .second-part.is-clicked 
             , & section.volleyball-list .second-part.is-clicked
              , & section.cricket-list .second-part.is-clicked  
              , & section.darts-list .second-part.is-clicked  ,
               & section.esports-list .second-part.is-clicked ,
               & section.greyhounds-list .second-part.is-clicked ,
                & section.hockey-list .second-part.is-clicked,
                & section.bandy-list .second-part.is-clicked{
            display: block;
           display: flex;
            & .first-part{
              display: flex;
              flex-direction: column;
           }
           }
           & section.tennis-list .second-part .first-part{
              display: flex;
              flex-direction: column;
           }
           & section.tennis-list .second-part:active {
            & section {
           color: var(--color-fifthynary);
              &.first{
                color: var();
              }
            }

           } 
           & section.tennis-list .second-part .goals {
            display: flex;
            & section {
              padding-left: 0.5rem;
              color: var(--color-primary-m-light);
              font-size: font-size(font-size--large);
              font-weight: font-weight(font-weight-bold);
              &.first{
                color: var(--color-tertiary-m-light);
              }
            }

           }
           & section.tennis-list .second-part:active {
            & section {
           color: var(--color-fifthynary);
            }
            & section.goals section.first{
              color: var(--color-secondary-m-light);
            }
            & section.goals section{
              color: var(--color-fifthynary);
            }

           } 
           & section.tennis-list .second-part .goals {
            display: flex;
            & section {
              padding-left: 0.5rem;
              color: var(--color-primary-m-light);
              font-size: font-size(font-size--large);
              font-weight: font-weight(font-weight-bold);
              &.first{
                color: var(--color-tertiary-m-light);
              }
            }

           }

           & section.match-list .second-part
            , & section.tennis-list .second-part , 
             & section.american-football-list .second-part 
             ,  & section.basketball-list .second-part 
             ,  & section.volleyball-list .second-part 
             ,  & section.cricket-list .second-part 
             ,  & section.darts-list .second-part, 
              & section.esports-list .second-part,
                & section.greyhounds-list .second-part, 
                 & section.hockey-list .second-part,
                 & section.bandy-list .second-part{
            display: flex;
            color: var(--color-primary-m-light);
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 0.1rem solid #494949;
            display: none;

           
             & i:nth-of-type(2){
                opacity: -1;
             }
             &:hover i:nth-of-type(2){
              opacity: 5;
           }
           & .goals {
            color: var(--color-secondary-m-light);
           }
           &:hover , &:focus:active {
            background-color: var( --color-fifthynary-m--light);
          }
           }
       }

  
    &-matches{
      grid-column: column-2 / column-3;
      overflow-y: auto;
      display: grid;
      grid-template-rows: [row-1] 14rem [row-2] 1fr [row-3] 1fr [row-4] 1fr [row-5] 1fr [row-6]  ;
      height: 90vh;
      overflow-x: hidden;

    
    /* *************** scroll bar properties **********/
    &::-webkit-scrollbar {
      width: 1.3rem;
      border-left: 0.6rem solid var(--color-primary-m-dark);
    }
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 1rem;
      background-color:var(--color-quaternary-m--dark);
      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top: 0.19rem solid transparent;
      border-bottom: 0.19rem solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-track {
      background-color:var(--color-secondary-m-dark);
      border-left: 0.06rem solid var(--color-primary-m-dark);
    }
  
      &-header{
        grid-row: row-1 / row-2;
        background-color: var(--color-primary);
        border-bottom: 0.2rem solid var(--color-secondary);
        padding: 1.2rem;
        padding-left: 2rem;
        color: var(--color-tertiary-m-light);
        & a {
          color: var(--color-tertiary-m-light);
          font-size: font-size(font-size--large);
          &:hover{
            color: var(--color-fifthynary);

          }
          & i {
            font-size: font-size(font-size--large);

          }
        }
        & div.title h2 {
          font-size: font-size(font-size-xxxxlarge);
          margin-left: 0.5rem;
          margin-top: 0.75rem;
          color: var(--color-tertiary-m--dark);
        }
        & div.title {
         display: flex;  
         align-items: baseline;
         justify-content: space-between;
         & div{
         background-color: #126e51;
         }
        }
        & div.menu {
          display: flex;
          font-size: font-size(font-size-xlarge);
          align-items: baseline;
          padding-top: 2.25rem;
                 
          & p {
            display: flex;
            padding-right: 1vw;
            position: relative;
            margin-left: 0.5rem;
        

            &:hover,&:active{
              color: var(--color-fifthynary);
              cursor: pointer;
          }
         & i {
          &:hover,&:active{
            color: var(--color-fifthynary);
            cursor: pointer;
          
          }        
          }

          &::before{
            content: "";
            position: absolute; 
            bottom: -35%;
            right: 35%;
            left: -8%;
            width: 80%;
            height: height(height-size-smal);
            background-color: var(--color-tertiary-m--dark);
            z-index: -1;
          }
           &.active:before{
            z-index: 5;
           }
        }
      }
    }
   

   }
       /***************************** 1150px *************************************/  
      @include  media-med-desk {
             & {
              grid-template-columns: [column-1] 5rem [column-2] 1fr [column-3] 43rem [column-4]  ;
          
              & .in-play-live-list div img 
              {
              width: 1.75rem;
              height: 1.75rem;
            /*margin-bottom: 1rem;
              margin-top: 0.75rem;*/

            }
            & div h1
            {
              display: none;
            }
            & .in-play-live-list div 
            {
              border: none;
              position: relative;
           }

             & section.match-list.is-clicked ,
             & section.tennis-list.is-clicked 
             , & section.american-football-list.is-clicked 
             , & section.basketball-list.is-clicked 
             , & section.volleyball-list.is-clicked 
              , & section.cricket-list.is-clicked
               , & section.darts-list.is-clicked,
                & section.esports-list.is-clicked, 
                & section.greyhounds-list.is-clicked,
                & section.hockey-list.is-clicked
                {
             & h1{
             display: block;
             }
     
            }
           
            & section.match-list ,
             & section.tennis-list,
              & section.american-football-list 
              ,  & section.basketball-list
              ,  & section.volleyball-list 
              ,  & section.cricket-list 
               ,  & section.darts-list ,
                 & section.esports-list ,
                 & section.greyhounds-list, 
                  & section.hockey-list,
                  & .in-play-live-list div:nth-child(2)
                  {
                   position: absolute;
                   z-index: 10;
                   left: 4rem;
                   background-color: var(--color-tertiary-m-light);
                   color: var(--color-fifthynary-m-darks);
                   width:24rem;
                   border: none;
                   border-radius: 0.25rem;
                  

                   & .first-part{
                    color: var(--color-fifthynary-m-darks);
                    font-size: font-size(font-size-xlarge);

                    & i:hover , & i:active{
                     color: var(--color-fifthynary-m-darks);

                    }
                   }
                   & h1 {
                    font-size: font-size(font-size-xxlarge);
                    padding-left: 1rem;
                    padding: 1rem;
                   }
       }
       &:nth-child(2).is-clicked{
        border-top: 0.2rem solid #757575;
      }
        
        & section.tennis-list h1{
         border-bottom: 0.2rem solid #4D6B2E;
       }
       & section.american-football-list h1 {
         border-bottom: 0.2rem solid #2484d3; 
       }
        & section.match-list h1{
         border-bottom: 0.2rem solid #126e51;
       }
       & section.basketball-list h1{
         border-bottom: 0.2rem solid #c47e23;
       }
       & section.volleyball-list h1{
         border-bottom: 0.2rem solid #ffdf1b;
       }
       & section.cricket-list h1{
         border-bottom: 0.2rem solid #4D6B2E;
       }
       & section.darts-list h1{
         border-bottom: 0.2rem solid  #cf420a;
       }
       & section.esports-list h1 {
         border-bottom: 0.2rem solid  #b243fc;
       }
       & section.greyhounds-list h1{
         border-bottom: 0.2rem solid  #c0a24f;
       }
       & section.hockey-list h1 {
         border-bottom: 0.2rem solid  #9c9c9c;
       }
       & .in-play-live-matches-header div.title  {
        padding-right: 2rem;
        }
  } 
}

       /***************************** 950px *************************************/  

      @include  media-tablet {

        & {
          display: grid;
          grid-template-columns: [colu-1] 1fr [colu-2] ;
          grid-template-rows:[row-2] 32rem [row-3] 1fr [row-4] 1fr [row-5] ;
            & .in-play-live-matches{
              grid-row: row-3 / row-4;
              grid-column: colu-1 / colu-2;
              &::-webkit-scrollbar {
                display: none;
              } 
            }
            & .in-play-live-tracker {
              grid-row: row-2 / row-3;
              grid-column: colu-1 / colu-2;

              &::-webkit-scrollbar {
                display: none;
              }
              & .my-bets , & .part-2 , & .part-3 {
                  display: none;
              }
            }
          
          & .in-play-live-list{
            display: none;
          }
          & .in-play-live-tracker .soccer-tracker {
            display: grid;
            grid-template-columns: [colum-1] 1fr [colum-2]  ;
            grid-template-rows: [rw-1] 1fr [rw-2] 1fr [rw-3] 10rem [rw-4] 1fr [rw-5] ;
           
            &  .header{
              grid-row: rw-1 / rw-2;
              grid-column: colum-1 / colum-2;
              border-bottom: 0.2rem solid #494949;
              justify-content: center;
              & h2.first{
                padding-left: 5vw;
              }
              & h2.first , & h2.second {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                overflow: hidden;
                word-break: break-word;
                word-wrap: break-word;
                line-height: 1.6rem;
                max-height: calc(1.6rem * 3);
                max-width: 15ch;
                text-overflow: ellipsis;
          

            }
            }
            & .st-T-line{
              grid-row: rw-2 / rw-3;
              grid-column: colum-1 / colum-2;
              padding-top: 0.5rem;
            }
          }
          
            & .tracker-part{
              grid-row: rw-3 / rw-4;
              grid-column: colum-1 / colum-2;
              display: flex;  
              justify-content: left; 
              flex-direction: column;
              & img {
                width: 50vw;
              }
            }
             & .stats {
              grid-row: rw-3 / rw-4;
              grid-column: colum-1 / colum-2;
              display: flex;  
              justify-content: right; 
              align-self: center;
           & img {
                width: 45vw;
                padding-top: calc(4vw + 4.5rem);
              }
             }
           
           & .in-play-live-matches-header{
            background-color: var(--color-primary-m-dark);
            & a {
              display: none;
            }
            & .title {
              display: none;
            }
           }
           & .in-play-live-matches{
            grid-template-rows: [row-1] 6.5rem [row-2] 1fr [row-3] 1fr [row-4] 1fr [row-5] 1fr [row-6]  ;
              }
        
       // & .in-play-live-matches-header div.menu {
          //padding-top: 2rem;
         //   }
            & .in-play-live-tracker{
              height: 33rem;
          }
          & .in-play-live-matches{
            height: 100%;
            position: relative;
        }
        & .in-play-live-tracker .tracker-part a {
        display: flex;
        justify-content: start;
        padding-left: 2rem;
        }
         .in-play-live-tracker .header a i {
          display: block;
        }
        .in-play-live-tracker .header i:nth-child(6) {
          display: block;
        
        }
        & .in-play-live-tracker .match-list.active-responsive{
          display: block;
        }
        & .in-play-live-tracker .match-list{
          display: none;
          top: 10rem;
          left: 35vw;
          position: absolute;
        }
        & section.match-list.active-responsive {
          display: block;
            }
            } 
          }
           /***************************** 350px *************************************/  
 @include media-smaller {
  & .in-play-live-tracker .soccer-tracker .header {
    & a i {
      padding-right: 2vw;
    }
    &  i:nth-child(6) {
      padding-left: 2vw;

    }
    & h2.first{
      padding-left: 2vw;
    }
  }
}
 /***************************** 450px *************************************/  
 @include  media-small {
  & .in-play-live-tracker .soccer-tracker .header {
    & a i {
      padding-right: 15vw;
    }
    &  i:nth-child(6) {
      padding-left: 15vw;

    }
  }
 }
 /***************************** 650px *************************************/  
 @include   media-medium {
  & .in-play-live-tracker .soccer-tracker .header {
    & a i {
      padding-right: 20vw;
    }
    &  i:nth-child(6) {
      padding-left: 20vw;

    }
  
  }
  & .in-play-live-tracker .tracker-part a {
     font-size: font-size(font-size-medium);
    }
   &-matches-body{
    &-all , &-asian-lines , &-corners-cards , &-goals , &-half , &-minutes { 
      & .FR , & .DC , & .MG , & .AMG , & .MC {  
       // justify-content: space-around !important;
        width: 100vw;
        div {
         padding-left: 5vw;
        }
      }
      & .FR-under-list , & .DC-under-list   {
        width: 100vw;
        & div span.resp {
          display: block !important;
          color: var(--color-tertiary-m--dark) !important;
        }
           & div span.f-w {
            display: none;
             }
             &  div {
              width: 25% !important;
            }
            &  div:hover {
              width: 25% !important;
            }
       }
       & .tenth-MG-list .two-lists .MG-under-list-slider , & .MG-under-list-all{
        width: 100vw;
        & .lign-1 {
          padding-left: 9vw !important;
          & div:first-child{
            padding-right: 25vw;
          }
        }
        & .lign-3 {
        & .cotes {
        display: none;
       }
      }
      & .lign-3{
        & div {
          display: flex;
          width: 20%;
         align-items: baseline;

          & div i {
            border: 0.1rem solid var(--color-tertiary);
            padding: 0.7rem;
              }
              & div i:hover , & div i:active{
                background-color: var(--color-tertiary);    

                  }
              & .number {
                padding-left: 2.5rem;
              }
               &.cotes{
                border: 0.1rem solid var(--color-tertiary);
              }

          & div , &.cotes{
            padding: 0.7rem;
            width: 20%;
          }

          &.cotes:hover , &.cotes:active{
          background-color: var(--color-tertiary);    
               }
        }  
     }
    }
    & .third-DC-list .DC-under-list {
      flex-direction: column;
      height: 100%;

    }
  
            }
   }
 }
/***************************** 768px *************************************/  
@include   media-medium-m {
 & .st-T-line{
  display: flex;
  & .stats-timeline .hidden{
    display: block !important;
  }
  & .stats-timeline .default{
    display: none ;
  }


  & .stats-timeline i {
    display: block !important;
   
   }
}  
& .stats {
   display: none;
 }
 & .stats.active {
  display: block;
  display: flex;  
  justify-content: center;
  align-items: center;
}
& .tracker-part{
  display:none ;
}
 & .tracker-part.active{
  display: block;
  display: flex;  
  justify-content: start ;
  align-items: center;
   
}
 }
        }

 /***************************** 950px *************************************/  
 @include  media-tablet {
 /* body.live::-webkit-scrollbar {
    display: block;
  }
  body.live {
  overflow-y: auto;
  height: 97vh;
  }*/
  body.live{
      display: grid;
      grid-template-columns: [colu-1] 1fr [colu-2] ;
      grid-template-rows: [row-1] 5rem [row-2] 1fr [row-3]  ;
      overflow-y: auto;
      height: 50;
      & main {
        & header {
          display: none;
        }
        grid-row: row-1 / row-2;
        grid-column: colu-1 / colu-2;

      }
       & .in-play-live{
        grid-row: row-2 / row-3;
        grid-column: colu-1 / colu-2;
       }
       &::-webkit-scrollbar {
        width: 1.3rem;
        border-left: 0.6rem solid var(--color-primary-m-dark);
      }
      &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 1rem;
        background-color:var(--color-quaternary-m--dark);
        border-left: 0.3rem solid transparent;
        border-right: 0.3rem solid transparent;
        border-top: 0.19rem solid transparent;
        border-bottom: 0.19rem solid transparent;
        background-clip: content-box;
      }
      &::-webkit-scrollbar-track {
        background-color:var(--color-secondary-m-dark);
        border-left: 0.06rem solid var(--color-primary-m-dark);
      }
  }
} 
