.in-play-live-tracker{
    grid-column: column-3 / column-4;
    background-color: var(--color-primary-m-dark);
   & .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-quaternary-m-dark);
    border-bottom: 0.1rem solid var(--color-fifthynary-m--light);
    

    & div:nth-child(2) , & div:nth-child(3){
        font-size: font-size(font-size-xxlarge);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: var(--color-secondary-m-light);
        font-weight: font-weight(font-weight-black);
        position: relative;
    }
    & div:nth-child(2)::before{
        content: "";
            position: absolute; 
            bottom: -35%;
            right: -20%;
            left: 15%;
            width: 70%;
            height: height(height-size-smal);
            background-color: var(--color-tertiary-m--dark);
            z-index: 5;
      }
      & div:nth-child(3)::before{
        content: "";
            position: absolute; 
            bottom: -35%;
            right: -20%;
            left: 15%;
            width: 70%;
            height: height(height-size-smal);
            background-color: var(--color-tertiary-m-dark);
            z-index: 5;
      }
   }
   & .tracker-part{

    border-bottom: 0.1rem solid var(--color-fifthynary-m--light);
    & img{
        padding-top: 2rem;
        padding-left: 2.5rem;
    }
    & a {
    color: var(--color-tertiary);  
    font-size: font-size(font-size--large);
    &:hover, &:active{
        color: var(--color-primary-m-light);  
  
    }
  }
  & .stats-timeline{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-size: font-size(font-size--large);
    color: var(--color-primary-m-light);  
    padding-bottom: 1rem;
    & div{
        padding-left: 1rem;
        position: relative;
        &:hover, &:active{
            color: var(--color-quaternary);  
        
        }
        &::before{
            content: "";
                position: absolute; 
                bottom: -55%;
                right: -20%;
                left: 30%;
                width: 70%;
                height: height(height-size-smal);
                background-color: var(--color-tertiary-m-dark);
                z-index: -1;
          }
        
    }
    & div.active{
        &::before{
                z-index: 7;
          }

  }
   }
}
  }