
.in-play-live-tracker{
    grid-column: column-3 / column-4;
    background-color: var(--color-primary-m-dark);
      overflow-y: auto;
      height: 90vh;
        /* *************** scroll bar properties **********/
        &::-webkit-scrollbar {
          width: 1.3rem;
          border-left: 0.6rem solid var(--color-fifthynary);
        }
        &::-webkit-scrollbar-thumb {
          cursor: pointer;
          border-radius: 1rem;
          background-color:var(--color-primary-m-light);
          border-left: 0.3rem solid transparent;
          border-right: 0.3rem solid transparent;
          border-top: 0.19rem solid transparent;
          border-bottom: 0.19rem solid transparent;
          background-clip: content-box;
        }
        &::-webkit-scrollbar-track {
          background-color:var(--color-tertiary-m-light);
          border-left: 0.06rem solid var(--color-tertiary);
        }
      
    & section.match-list {
      display: none;
       }
    & section.match-list.active-responsive {
        display: none;
        transition: transform 5s;
        & h1{
        display: none;
        }
    
       }
       & section.match-list section.item-1 {
        margin-left: -0.01rem;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
           & .first-part {
            padding-left: 1rem;
            display: flex;
            align-items: baseline;
              & h4 {
                padding-right: 5vw;
                
              }
              & i {
                padding-left: 0.5rem;
              }
           }
           & .first-part:hover i{
            display: block;
          }
          & .first-part i{
            display: none;
            font-size: font-size(font-size-smallest);
            color: var(--color-tertiary);
          }
         
           }
           & section.match-list .second-part.active-responsive{
            display: block;
            display: flex;
           }
           & section.match-list .second-part{
            display: flex;
            color: var(--color-primary-m-light);
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 0.1rem solid #494949;
            display: none;
    
             & i:nth-of-type(2){
                opacity: -1;
             }
             &:hover i:nth-of-type(2){
              opacity: 5;
           }
           & .goals {
            color: var(--color-secondary-m-light);
           }
           &:hover , &:active {
            background-color: var( --color-fifthynary-m--light);
          }
           }
    
    /* *************** scroll bar properties **********/
    &::-webkit-scrollbar {
      width: 1.3rem;
      border-left: 0.6rem solid var(--color-primary-m-dark);
    }
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 1rem;
      background-color:var(--color-quaternary-m--dark);
      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top: 0.19rem solid transparent;
      border-bottom: 0.19rem solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-track {
      background-color:var(--color-secondary-m-dark);
      border-left: 0.06rem solid var(--color-primary-m-dark);
    }
   & .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-quaternary-m-dark);
    
    & a i {
        padding-right: 33vw;
        color: var(--color-quaternary-m-dark);
        display: none;
    }
    & i:nth-child(6) {
        padding-left: 33vw;
        display: none;

    }
    & div:nth-child(4) , & div:nth-child(3){
        font-size: font-size(font-size-xxlarge);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: var(--color-secondary-m-light);
        font-weight: font-weight(font-weight-black);
        position: relative;
    }
    & div:nth-child(4)::before{
        content: "";
            position: absolute; 
            bottom: -35%;
            right: -20%;
            left: 15%;
            width: 70%;
            height: height(height-size-smal);
            background-color: var(--color-tertiary-m--dark);
            z-index: 5;
      }
      & div:nth-child(3)::before{
        content: "";
            position: absolute; 
            bottom: -35%;
            right: -20%;
            left: 15%;
            width: 70%;
            height: height(height-size-smal);
            background-color: var(--color-tertiary-m-dark);
            z-index: 5;
      }
   }
   & .tracker-part{

    & img{
        padding-top: 2rem;
        padding-left: 2rem;
    }
    & a {
    color: var(--color-tertiary);  
    font-size: font-size(font-size--large);
    display: flex;
    justify-content:end ;
    padding-right: 2rem;
    padding-top: 1rem;
    &:hover, &:active{
        color: var(--color-primary-m-light);  
  
    }
  }
 
}
   & .stats {
    & img {
    
      display: block;
    }
 }
 & .st-T-line{
    border-bottom: 0.1rem solid var(--color-fifthynary-m--light);
    & .stats-timeline{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        font-size: font-size(font-size--large);
        color: var(--color-primary-m-light);  
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid var(--color-fifthynary-m--light);

        & div{
            padding-left: 1rem;
            position: relative;
            &:hover, &:active{
                color: var(--color-quaternary);  
            
            }
            &::before{
                content: "";
                    position: absolute; 
                    bottom: -55%;
                    right: -20%;
                    left: 30%;
                    width: 70%;
                    height: height(height-size-smal);
                    background-color: var(--color-tertiary-m-dark);
                    z-index: -1;
              }
            
        }
        & div.active{
            &::before{
                    z-index: 7;
              }
    
      }
       }
 }
 & .my-bets{
    border-bottom: 0.1rem solid var(--color-fifthynary-m--light);
    padding: 1rem;
    font-size: font-size(font-size--large);
    color: var(--color-primary-m-light);

    & h2{
        color: var(--color-tertiary-m-dark);
    }
    & .first-lign{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        & div:nth-child(2){
            display: flex;
            align-items: baseline;
            padding-right: 0.75rem;
            & div{
                padding-right: 0.5rem;
            }
        }
        & div:nth-child(2):hover , & div:nth-child(2):active {
            color: var(--color-tertiary-m--dark);

        }
    }
    & .cards{
        padding-top: 1rem;
        border: 0.1rem solid var(--color-fifthynary-m--light);
        padding: 0.75rem;
        margin-bottom: 1.2rem;
        & .cotes{
            display: flex;
            justify-content: space-between;
            & div {
                color: var(--color-tertiary-m--dark);
            }
        }


    }
  & input[type=text] {
  background-color: var(--color-fifthynary-m--light);
  color: white;
  border: none;
  width: 6rem;
  height: 2.7rem;
}
& button{
    background-color: #3CBC8D;
    border: none;
    cursor: pointer;
    width: 7rem;
    height: 2.7rem;


}
& div.inputs{
    display: flex;
    justify-content: space-between;
}
 }
 & section.part-2{
    display: flex;
    flex-direction:column ;
    & div.part-2-parag{
        display: flex;
        flex-direction:column ;
        & div {
            padding-top: 1rem;
        }

    }
 }
 & section.part-3{
    display: flex;
    flex-direction:column ;
    & div.part-2-parag{
        display: flex;
        flex-direction:column ;
        & div {
            padding-top: 1rem;
        }

    }
 }
  }