.middle-part{
    grid-column: center-start /  container-end ;
    display: grid;   
    grid-template-rows: repeat(8, min-content);

    /* [row-start] 1fr [row-1] 1fr[row-1-end] 1fr[row-2] 1fr [row-2-end]
    1fr[row-3] 1fr [row-3-end] 1fr [row-end];*/
    /*grid-template-columns: auto;*/
    overflow-y: auto;
   /* border-bottom: 0.25rem solid  #367a65;*/

    /* *************** scroll bar properties **********/
    &::-webkit-scrollbar {
      width: 1.3rem;
      border-left: 0.6rem solid var(--color-quaternary-m-light);
    }
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 1rem;
      background-color:var(--color-tertiary);
      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top: 0.19rem solid transparent;
      border-bottom: 0.19rem solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-track {
      background-color:var(--color-fifthynary-m-light);
      border-left: 0.06rem solid var(--color-quaternary-m-light);
    }
    &-part-1{
          border-bottom: 0.05rem solid  #367a65;

  grid-row: 1 / 2 ;
  display: grid;   
  grid-template-columns:  [column-start] 1fr [column-center] 40.5rem[column-end] ;

  &-right-part{
    grid-column: column-start /  column-center ;
    display: grid;   
    grid-template-rows:  [first-row] 14.6rem [second-row]23rem[third-row] 1fr[forth-row] 1fr[end-row] ;

          }
          &-lign-1
          {
       grid-row: first-row /second-row ;
       position: relative;
           }

          &-big-link img
           {
       /*grid-row: first-row /  second-row ;*/
       /* background-image: url("../images/affiche.jpg");*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       filter: grayscale(100%);
       width: 100%;
       height: 100%;
            }
           

            /* for the affiche link to offers */ 
           
        &-absolute{
        position: absolute;
        top: 1rem;
        left: 0;
        line-height: 3.5rem;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        & a:first-child{
           color: var(--color-tertiary-m-dark);
           font-size: font-size(font-size-regular);
           }
         & a:nth-child(2){
            color: var(--color-fifthynary);
            font-size: font-size(font-size-medium);

            }
            & button{
             background-color: var(--color-secondary-m-light);
             border: none;
             padding: 0.7rem 0.7rem ;
             border-radius: 6%;
             width: 20%;
             cursor: pointer;
             &:hover{
               background-color: var(--color-fifthynary);
               
                  }

                }
                & a:last-child{
                  color: var(--color-tertiary-m-light);
                  font-size: font-size(font-size-smallest);

                  }
                & a:last-child:hover{
                  color: var(--color-fifthynary);
                  }
                }
              
              

     /*  &-left-part
       {
    grid-column: column-center /  column-end ;
        }*/
      }


      &-lign-2
         {
          grid-row: second-row /third-row ;
          background-color: var(--color-fifthynary-m-light);
         border-bottom: 0.001rem solid  #367a65;
          overflow: hidden;
          width: /*72rem*/ 100%;
          height: 23rem;
          &-tt  {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
           border-bottom: 0.001rem solid  #367a65;
           
            & a
            {
            padding-left: 1.5rem;
            font-size: font-size(font-size-smallest);
            color: #cecece;
            position: relative;
            cursor: pointer;
            &:hover,&:active
            {
              color: var(--color-fifthynary);
            }
            }
            & a:first-child::before
            {
             content: "";
             position: absolute; 
             bottom: -58%;
             left:1.3rem;
             width: 80%;
             height: 0.2rem;
             background-color: var(--color-tertiary-m-dark);
             z-index: -1;

           } 

           & a:last-child::before
           {
            content: "";
            position: absolute; 
            bottom: -58%;
            left:1.3rem;
            width: 85%;
            height: 0.2rem;
            background-color: var(--color-tertiary-m-dark);
            z-index: -1;
          } 
          & a.on {
            z-index: 1;
            }
        }
          &-title
           {
            display: flex;
            align-items: baseline;
            padding-left: 1.2em;
            padding-top: 1rem;
            & h3:nth-child(2) , & i  {
             padding-left: 0.5rem;
             color: var(--color-tertiary-m-dark);
             font-size: font-size(font-size-regular);

            } 
            & h3:first-child {
              color: var(--color-fifthynary);
              font-size: font-size(font-size-regular);

             } 
             & i  {
              font-size: font-size(font-size-small);
 
             } 
          } 


          &-carousel  {
           display: flex;
          /*overflow: hidden;*/
          width: 500%;

          &-boutton-prev  {
            position: relative;
            background-color: var(--color-primary);
            width: 0.3rem;
            height: 5rem;
            top: 2.5rem;
            opacity: 1;
            left: -2rem;
            & i { 
             color: var(--color-primary-m-light);
             padding-left:1.8rem ;
             padding-top:1.2rem ;
             &:hover,&:active { 
              color: var(--color-fifthynary);
                } 
               } 
           }
           &-boutton-next  { 
            position: relative; 
            background-color: var(--color-primary);
            width: 0.3rem;
            height: 5rem;
            top: -2vw;
            left: 60vw;
            right: 20.15%;
            & i { 
              color: var(--color-primary-m-light);
              /*padding-right: 30rem;*/
             /* margin-right: 0.2rem;*/
              padding-top: 1.2rem ;
              padding-right: 2rem;
              &:hover,&:active { 
                color: var(--color-fifthynary);
                  } 
                } 
            } 
          
          & div{
            display: flex;
            flex-direction: column;
            font-size: font-size(font-size-small);
            padding: 0.6rem;
          /*  width: 36rem;*/
            padding-right: 4rem;
            padding-left: 1.5rem;

           & h1, & p
           {
            color:var( --color-fifthynary);
            font-size: 1.4rem;
            padding-left: 1.4rem;
          }
            & a {
              display: flex;
              padding-top: 1.5rem;
              left: 0;
              align-items: baseline;
              font-size: 1rem !important; 
              padding-left: 1.4rem;

              & i {
               color:var(--color-tertiary-m-dark);
              }
              & h3 , & strike
              {
                color:var( --color-fifthynary);
               }

            }
            & .imgcarousel{
              display: flex;
              flex-direction: row;
              align-items: baseline;
              & img   {
                width: 1.5rem;
                height: height(height-size-medium-vol1);
                /*padding-right: 0.rem ;*/
              }
               
            }
          }
          }


        }
    }
  