::selection {
  user-select: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-primary: #404040;
  --color-primary-m-light:#9c9c9c;
  --color-primary-m-dark: #333;
  --color-secondary: #126e51;
  --color-secondary-m-light: #ffdf1b;
  --color-secondary-m-dark:#383838;
  --color-tertiary:#757575;
  --color-tertiary-m-light:#c3c3c3;
  --color-tertiary-m-dark: #2ec193;
  --color-quaternary: #fff;
  --color-quaternary-m-light:#3b3b3b;
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);
  --color-quaternary-m--dark: hsla(0,0%,53%,.5);
  --color-fifthynary: white;
  --color-fifthynary-m-dark: black;
}

/*html[data-theme="dark"] {
  --color-primary: rgb(36, 38, 43);
  --color-primary-m: rgba(36, 38, 43, 0.65);
  --color-secondary: rgb(124, 185, 8);
  --color-secondary-m: rgba(123, 185, 8, 0.5);
  --color-tertiary: rgb(38, 52, 65);
  --color-tertiary-m: hsla(183, 34%, 38%, 0.65);
  --color-quaternary: hsl(220, 10%, 28%);
  --color-quaternary-m: hsla(220, 10%, 28%, 0.65);
  --color-quinary: white;
  --color-quinary-m: rgba(255, 255, 255, 0.5);
}
*/
:root {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.8;
  background-color: var(--color-primary);
}

main {
  flex: 1;
}

li {
  list-style: none;
  white-space: nowrap;
}

a {
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

section#main-part {
  display: grid;
  grid-template-columns: [container-start] 24rem [center-start] 1fr [container-end];
  grid-template-rows: 85vh;
}

@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
  }
}
.header {
  height: calc(2.2vw + 2.2vh);
  z-index: 2;
  /***************************** 950px *************************************/
}
.header__main-nav {
  height: 100%;
  background-color: var(--color-primary-m-dark);
  flex-wrap: nowrap;
  overflow-y: auto;
}
.header__main-nav::-webkit-scrollbar {
  display: none;
}
.header__main-nav--parts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main-nav--parts-partleft, .header__main-nav--parts-partright {
  display: flex;
  margin-left: 1.5vw;
}
.header__main-nav--parts li {
  padding-right: 2vw;
}
.header__main-nav--parts li .nn, .header__main-nav--parts li .mm {
  color: white;
}
.header__main-nav--parts li a {
  color: #9c9c9c;
  font-size: calc(0.3rem + 0.6667vw);
  transition: color 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* for the animation */
}
.header__main-nav--parts li a:active, .header__main-nav--parts li a:hover {
  color: white;
}
@media screen and (max-width: 950px) {
  .header__main-nav--parts li a {
    font-size: calc(0.7rem + 0.6667vw);
  }
}

.header__main-nav2 {
  background-color: var(--color-secondary);
  height: calc(3vw + 2.2vh);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  /***************************** 950px *************************************/
  /***************************** 650px *************************************/
  /***************************** 460px *************************************/
  /***************************** 350px *************************************/
  /***************************** 320px *************************************/
}
.header__main-nav2--links {
  display: flex;
  padding-right: calc(0.2rem + 3vw);
}
.header__main-nav2--links li:last-of-type {
  padding-left: 1.5rem;
}
.header__main-nav2--links li a:hover, .header__main-nav2--links li a:active {
  color: var(--color-secondary-m-light);
}
.header__main-nav2--links li a {
  color: var(--color-fifthynary);
  font-size: calc(0.6rem + 0.667vw);
  transition: all 0.35s ease-in-out;
  position: relative;
  width: 100%;
}
.header__main-nav2--links li a:first-child::before, .header__main-nav2--links li a:last-child::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-secondary-m-light);
  z-index: -1;
}
.header__main-nav2--links li.c, .header__main-nav2--links li.d {
  z-index: 1;
}
.header__main-nav2--linkss {
  display: flex;
  /* padding-right: calc(0.2rem + 3vw);*/
}
.header__main-nav2--linkss a:nth-child(2) {
  text-decoration: none;
  color: black;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  padding: 0.01rem 0.8rem;
  border-radius: 10%;
  background-color: var(--color-secondary-m-light);
  transition: all 0.35s ease-in-out;
}
.header__main-nav2--linkss a:nth-child(2):hover, .header__main-nav2--linkss a:nth-child(2):active {
  color: var(--color-fifthynary-m-dark);
  background-color: var(--color-fifthynary);
}
.header__main-nav2--linkss a:last-of-type {
  padding-right: 1rem;
}
.header__main-nav2--linkss a:first-child {
  color: var(--color-fifthynary);
  font-size: 1.7rem;
}
.header__main-nav2--linkss a:hover, .header__main-nav2--linkss a:active, .header__main-nav2--linkss a i:hover, .header__main-nav2--linkss a i:active {
  color: var(--color-secondary-m-light);
}
.header__main-nav2--linkss a {
  color: var(--color-fifthynary);
  font-size: calc(0.6rem + 0.667vw);
  transition: all 0.35s ease-in-out;
}
.header__main-nav2--icon img {
  width: 15rem;
  height: 100%;
  cursor: pointer;
  padding-left: 1rem;
  display: flex;
  align-items: baseline;
}
.header__main-nav2--icon {
  cursor: pointer;
  height: 80%;
}
.header__main-nav2--hamburger {
  position: absolute;
}
@media screen and (max-width: 950px) {
  .header__main-nav2 {
    width: 100%;
    /* height: 150%;*/
    height: 4.5rem;
    position: absolute;
    text-align: center;
    z-index: 2;
    display: flex;
  }
  .header__main-nav2--links li a, .header__main-nav2--linkss a {
    color: var(--color-fifthynary);
    font-size: calc(1rem + 0.6vw);
  }
  .header__main-nav2.clicked {
    top: -0.2rem;
  }
  .header__main-nav2--links li:first-child, .header__main-nav2--linkss a:first-child {
    display: none;
  }
  .header__main-nav2--linkss a:nth-child(2) {
    text-decoration: none;
    color: var(--color-fifthynary);
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    padding: 0.01rem 0.8rem;
    border-radius: 10%;
    background-color: transparent;
  }
  .header__main-nav2--hamburger {
    order: -2;
  }
  .header__main-nav2--links {
    order: -1;
  }
  .header__main-nav2--icon img {
    width: 17vw;
    padding-left: 3.5vw;
  }
  .header__main-nav2--icon {
    position: relative;
  }
  .header__main-nav2--icon::before {
    content: "";
    position: absolute;
    bottom: -10%;
    right: 0;
    width: 80%;
    height: 0.11rem;
    background-color: var(--color-secondary-m-light);
    z-index: 5;
  }
  .header__main-nav2--hamburger {
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header__main-nav2--hamburger .line {
    width: 100%;
    height: 0.2rem;
    border-radius: 0.2rem;
    background-color: var(--color-fifthynary);
    transition: all 0.4s ease-in-out;
  }
  .header__main-nav2--hamburger:hover .line, .header__main-nav2--hamburger:active .line {
    background-color: var(--color-secondary-m-light);
  }
  .header__main-nav2--links li a:first-child::before, .header__main-nav2--links li a:last-child::before {
    opacity: 0;
  }
  .header__main-nav2--linkss a:last-child {
    padding-left: 9vw;
  }
}
@media screen and (max-width: 650px) {
  .header__main-nav2--linkss a:last-child {
    padding-left: 5vw;
  }
  .header__main-nav2--icon img {
    width: 20vw;
    padding-left: 4.5vw;
  }
}
@media screen and (max-width: 460px) {
  .header__main-nav2--icon img {
    padding-left: 12vw;
    width: 30vw;
  }
  .header__main-nav2--hamburger {
    width: 3rem;
    height: 3rem;
    padding-left: 1rem;
  }
  .header__main-nav2--links li a, .header__main-nav2--linkss a {
    font-size: calc(0.7rem + 0.6667vw);
  }
  .header__main-nav2--icon::before {
    width: 60%;
  }
}
@media screen and (max-width: 350px) {
  .header__main-nav2--icon img {
    padding-left: 12.5vw;
  }
  .header__main-nav2--links li a, .header__main-nav2--linkss a {
    font-size: calc(0.5rem + 0.6vw);
  }
}
@media screen and (max-width: 320px) {
  .header__main-nav2--icon img {
    padding-left: 12.5vw;
  }
  .header__main-nav2--links li a, .header__main-nav2--linkss a {
    font-size: calc(0.5rem + 0.6vw);
  }
  .header__main-nav2--linkss a:nth-child(2), .header__main-nav2--linkss a:last-child {
    padding-left: 0;
  }
}

.left-list-menu {
  grid-column: container-start/center-start;
  background-color: var(--color-secondary-m-dark);
  overflow-y: auto;
  height: 100%;
  padding-right: 0.7rem;
  /* *************** scroll bar properties **********/
  /* scroll bar elements */
  /* for the space entre les li */
  /* pour l espace e dassus de la drop down list we removed itt */
  /* to make the scroll bar have the same original ,*/
  /* for the hover effect */
  /* for the fav botton */
  /* *************** drop down menu  **********/
}
.left-list-menu::-webkit-scrollbar {
  width: 1.3rem;
  border-left: 0.6rem solid var(--color-primary-m-dark);
}
.left-list-menu::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 1rem;
  background-color: var(--color-quaternary-m--dark);
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  border-top: 0.19rem solid transparent;
  border-bottom: 0.19rem solid transparent;
  background-clip: content-box;
}
.left-list-menu::-webkit-scrollbar-track {
  background-color: var(--color-secondary-m-dark);
  border-left: 0.06rem solid var(--color-primary-m-dark);
}
.left-list-menu-first-icon {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 1rem;
  padding-right: 1rem;
}
.left-list-menu-first-icon i {
  color: var(--color-tertiary);
  font-size: 1.35rem;
}
.left-list-menu-second-list li.a, .left-list-menu-first-icon, .left-list-menu li.b-2, .left-list-menu li.b-3, .left-list-menu li.b-4, .left-list-menu li.b-5 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  align-items: baseline;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.left-list-menu-second-list li[class^=list] {
  padding-bottom: 0rem;
}
.left-list-menu-second-list li label {
  padding-top: 0.3rem;
  padding-bottom: 1.5rem;
}
.left-list-menu-second-list li img, .left-list-menu label, .left-list-menu li a.v {
  margin-left: 1.8rem;
  margin-right: 1rem;
}
.left-list-menu-second-list li a, .left-list-menu-list-1 label.b-1, .left-list-menu-list-2 label.b-2, .left-list-menu-list-2-3 li.b-3, .left-list-menu-list-3 label.b-3, .left-list-menu-list-3-4 li.b-4, .left-list-menu-list-4 label.b-4, .left-list-menu-list-4-5 li.b-5 {
  font-size: 1.5rem;
  color: var(--color-tertiary-m-light);
  padding-left: 0.6rem;
}
.left-list-menu-second-list h1 {
  color: var(--color-tertiary-m-dark);
  font-size: 1.3rem;
  padding-left: 1.5rem;
}
.left-list-menu-second-list li img {
  width: 1.8rem;
  height: 80%;
  padding-right: 0.01rem;
  align-items: baseline;
}
.left-list-menu-second-list li:hover, .left-list-menu-second-list li span:hover {
  background-color: var(--color-primary);
}
.left-list-menu-second-list li a:active {
  color: var(--color-quaternary);
  font-weight: 900;
}
.left-list-menu .bt {
  background: transparent;
  border: none;
  outline: none;
  color: #757575;
  /*visibility: hidden;*/
}
.left-list-menu-list-1, .left-list-menu-list-2, .left-list-menu-list-3, .left-list-menu-list-4 {
  position: relative;
  width: 100%;
  line-height: 1.25 rem;
}
.left-list-menu li label {
  display: block;
  cursor: pointer;
}
.left-list-menu-list-1-2, .left-list-menu-list-2-3, .left-list-menu-list-3-4, .left-list-menulist-4-5 {
  width: 100%;
  position: relative;
  display: none;
  list-style: none;
  background-color: var(--color-quaternary-m-light);
  border-top: #757575; /* not working */
  border-bottom: #757575; /* not working */
  margin-top: 1.5rem;
}
.left-list-menu input {
  display: none;
}

[id^=bttn]:checked + ul, [id^=btnn]:checked + ul, [id^=btnnn]:checked + ul, [id^=btnnnn]:checked + ul {
  display: block;
}

/*html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;

}*//*# sourceMappingURL=main-style.css.map */